.cards{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.tarjeta{
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tarjeta img{
  width: 100%;
  height: auto;
  border-radius: 20px ;
}

.tarjeta h3{
  margin-top: 15px;
}

tarjeta p{
  flex-grow: 1;
}


